body {
  margin: 0px;
  padding: 0;
  background: url('../img/PASCAL.jpg');
  background-repeat: S0px;

}

h1 {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  color:white;
  text-align: center;
}

.semaforo {
  background: black;
  padding: 4rem;
  width: 10rem;
}

.light {
  display: inline-block;
  background: white;
  height: 5rem;
  margin-right: 8rem;
  width: 2rem;
  border-radius: 20rem;
  background-color: #E8E8E8;
  margin-left: 2rem;
 
}

.light7 {
  opacity: 5.0;
}

.light.on {
  
  background-color: greenyellow;

}
.light.off {
  opacity: 1.0;
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;

}

.light:last-child {
  margin-bottom: 0;
  opacity: 5.0;
}

.light.seleccionado { 
  opacity:0;
  background-color: white;
  width: 10rem;
}


.nextBtn {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  background-color: darkolivegreen;
  color:white;
  margin-bottom: 3rem;
  border-radius: 1rem;
}
.next {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 15rem;
  background-color: darkorange;
  color:white;
  border-radius: 1rem;
}

.turnoContainer {
  margin-top: 3rem;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  color:black;
  border-radius: 1rem;
  background-color: #E8E8E8;

}
.search {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  background-color: darkorange;
  color:white;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 30rem;
}
.aceptarturno {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  background-color:darkolivegreen;
  color:white;
  border-radius: 1rem;
}
.aceptar {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  background-color:darkolivegreen;
  color:white;
  border-radius: 1rem;
}
.nuevo {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 30rem;
  background-color: darkolivegreen;
  color:white;
  border-radius: 1rem;
  
}
.alert{
  background-color: #808000;
}
.jugador{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  color:white;
  text-align: center;
  height: 2rem;
  width: 36rem;
  display: inline-block;
 
}
.Totito>div{
  display: block;
  line-height: 0;
  width: 60rem;
  align-content: center;
  
}

.Totito>div>div{
  border: solid 16px #808000;
  opacity: 0.7;
  height: 3rem;
  width: 3rem;
  

}
.Totito>div>div.x{
  background-image: url("../img/checkbox.png");
  background-size: contain;
  background-color: darkolivegreen;
  opacity:1;

}
.Totito>div>div.o{
  background-image: url("../img/checkbox.png");
  background-size: contain;
  background-color: darkolivegreen;
  opacity:1;
}
.Totito>div>{
  background-image: url("../img/o.png");
  background-size: contain;
  background-color: darkolivegreen;
  opacity:1;
}
.ganadores>div{
  display: block;
  line-height: 0;
  background: darkred;
  width: 36rem;
  
}
.hero7 ul{
  display: inline-block;
  background: whitesmoke;
  padding: 150px;
  shape-margin: 3px;
}
ul {
  background-color:whitesmoke; /* Green */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  color: black;
  text-align: left;
  width:10rem;
  font-size: 25px;
  
} 
button {
  background-color: darkorange;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  color: white;
  text-align: center;
  width:15rem;
  font-size: 25px;
  border-radius: 1rem;
} 
input {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  color: black;
  text-align: center;
  width:15rem;
  font-size: 25px;
  border-radius: 1rem;
} 

